border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

box-sizing(val)
  -webkit-box-sizing val
  -moz-box-sizing val
  box-sizing val

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

appearance(val)
  -webkit-appearance val
  -moz-appearance val
  appearance val

text-size-adjust(val)
  -webkit-text-size-adjust val
  -moz-text-size-adjust val
  -ms-text-size-adjust val
  text-size-adjust val

text-overflow(val)
  -ms-text-overflow val
  -o-text-overflow val
  text-overflow val

word-wrap(val)
  -ms-word-wrap val
  word-wrap val


user-select(val)
  -webkit-user-select val
  -khtml-user-select val
  -moz-user-select val
  -ms-user-select val
  user-select val


/* crossbrowser display flex */
display(val)
  if val == flex
    display -webkit-flex
    display flex
  else if val == inline-flex
    display -webkit-inline-flex
    display inline-flex
  else
    display val

flex()
  -webkit-flex arguments
  flex arguments

flex-flow()
  -webkit-flex-flow arguments
  flex-flow arguments

flex-direction()
  -webkit-flex-direction arguments
  flex-direction arguments

flex-wrap()
  -webkit-flex-wrap arguments
  flex-wrap arguments

justify-content()
  -webkit-justify-content arguments
  justify-content arguments

align-items()
  -webkit-align-items arguments
  align-items arguments

align-content()
  -webkit-align-content arguments
  align-content arguments


/* crossbrowser animation properties */
animation()
  -webkit-animation arguments
  -moz-animation arguments
  -o-animation arguments
  animation arguments

animation-delay()
  -webkit-animation-delay arguments
  -moz-animation-delay arguments
  -o-animation-delay arguments
  animation-delay arguments

animation-direction()
  -webkit-animation-direction arguments
  -moz-animation-direction arguments
  -o-animation-direction arguments
  animation-direction arguments

animation-duration()
  -webkit-animation-duration arguments
  -moz-animation-duration arguments
  -o-animation-duration arguments
  animation-duration arguments

animation-iteration-count()
  -webkit-animation-iteration-count arguments
  -moz-animation-iteration-count arguments
  -o-animation-iteration-count arguments
  animation-iteration-count arguments

animation-name()
  -webkit-animation-name arguments
  -moz-animation-name arguments
  -o-animation-name arguments
  animation-name arguments

animation-play-state()
  -webkit-animation-play-state arguments
  -moz-animation-play-state arguments
  -o-animation-play-state arguments
  animation-play-state arguments

animation-timing-function()
  -webkit-animation-timing-function arguments
  -moz-animation-timing-function arguments
  -o-animation-timing-function arguments
  animation-timing-function arguments

animation-fill-mode()
  -webkit-animation-fill-mode arguments
  -moz-animation-fill-mode arguments
  -o-animation-fill-mode arguments
  animation-fill-mode arguments


/* crossbrowser transition properties */
transition()
  -webkit-transition arguments
  -moz-transition arguments
  -o-transition arguments
  transition arguments

transition-delay()
  -webkit-transition-delay arguments
  -moz-transition-delay arguments
  -o-transition-delay arguments
  transition-delay arguments

transition-duration()
  -webkit-transition-duration arguments
  -moz-transition-duration arguments
  -o-transition-duration arguments
  transition-duration arguments

transition-property()
  -webkit-transition-property arguments
  -moz-transition-property arguments
  -o-transition-property arguments
  transition-property arguments

transition-timing-function()
  -webkit-transition-timing-function arguments
  -moz-transition-timing-function arguments
  -o-transition-timing-function arguments
  transition-timing-function arguments


/* crossbrowser transform properties */
transform()
  -webkit-transform arguments
  -moz-transform arguments
  -ms-transform arguments
  -o-transform arguments
  transform arguments

transform-origin()
  -webkit-transform-origin arguments
  -moz-transform-origin arguments
  -ms-transform-origin arguments
  -o-transform-origin arguments
  transform-origin arguments

transform-style()
  -webkit-transform-style arguments
  -moz-transform-style arguments
  -ms-transform-style arguments
  -o-transform-style arguments
  transform-style arguments


/* crossbrowser perspective properties */
perspective()
  -webkit-perspective arguments
  -moz-perspective arguments
  -ms-perspective arguments
  -o-perspective arguments
  perspective arguments

perspective-origin()
  -webkit-perspective-origin arguments
  -moz-perspective-origin arguments
  -ms-perspective-origin arguments
  -o-perspective-origin arguments
  perspective-origin arguments


/* crossbrowser columns properties */
columns()
  -webkit-columns arguments
  -moz-columns arguments
  columns arguments

column-count()
  -webkit-column-count arguments
  -moz-column-count arguments
  column-count arguments

column-rule()
  -webkit-column-rule arguments
  -moz-column-rule arguments
  column-rule arguments

column-width()
  -webkit-column-width arguments
  -moz-column-width arguments
  column-width arguments

column-fill()
  -webkit-column-fill arguments
  -moz-column-fill arguments
  column-fill arguments


/* crossbrowser backface-visibility properties */
backface-visibility()
  -webkit-backface-visibility arguments
  -moz-backface-visibility arguments
  -ms-backface-visibility arguments
  -o-backface-visibility arguments
  backface-visibility arguments


/* crossbrowser sticky position */
position(val)
  if val == sticky
    position -webkit-sticky
    position sticky
  else
    position val
