// app

.app
  zoom: 1
  position: relative
  z-index: 1
  display: block
  width: 100%
  height: 100%
  padding: 0
  margin: 0
  border: none
  outline: none
  background-color: #fff
  font-size: 100%
  text-size-adjust: 100%
  overflow: auto
  overflow-y: scroll
  overflow-x hidden
  -webkit-tap-highlight-color: transparent
  caret-color: #d50d0d

  // test
  // overflow: hidden

  &__body
    zoom: 1
    position: relative
    top: 0
    left: 0
    z-index: 1
    display: block
    width: 100vw
    min-height: 100%
    padding: 0
    border: none
    outline: none
    margin: 0
    background: #fff
    font: getFont()
    letter-spacing: normal
    word-wrap: normal
    white-space: normal
    text-transform: none
    direction: ltr
    -webkit-font-smoothing: antialiased
    text-rendering: optimizeLegibility
    -moz-osx-font-smoothing: grayscale
    font-feature-settings: 'liga', 'kern'
    overflow: visible
    opacity: 1
    -webkit-tap-highlight-color: transparent

    // test
    // height: 100%
    // min-height: none
    // padding-right: 1.5em
    // overflow-x: hidden
    // overflow-y: scroll
    // -webkit-overflow-scrolling: touch

    &::before
      content: ''
      position: fixed
      top: 0
      left: 0
      z-index: -1
      display: block
      width: 100vw
      height: 100%
      background: transparent url('https://source.unsplash.com/AByHM2Q7wIk/1920x1080') center/cover no-repeat scroll
      // filter: blur(240px)

  &_state_noscroll
    // height: 100%
    overflow: hidden

  &_state_scrolling
    user-select: none
    pointer-events: none
